/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

/* banner section */

.banner-section {
  height: 90vh;
  padding: 6rem;
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}

.banner-heading {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.banner-desc {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 2rem 0;
}

.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: none;
}

.banner-image {
  width: 635px;
}

/* featured flowers section */

.featured-flower-section {
  margin-bottom: 4rem;
}

.featured-flower-info {
  text-align: center;
  padding: 2rem;
}

.featured-flower-heading {
  margin-top: 2rem;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}

.featured-flower-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
  margin: 0 auto;
  padding: 1rem 0;
}

.featured-flower-posts {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.featured-flower-image-1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  background-image: url('./assets/pngwing-6.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 310px 428px;
}

.featured-flower-image-2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  background-image: url('./assets/pngwing-5.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 310px 428px;
}

.featured-flower-image-3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  background-image: url('./assets/pngwing-7.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 310px 428px;
}

.featured-flower-title {
  display: flex;
  justify-content: center;
  gap: 21rem;
  align-items: center;
  padding: 2rem;
}

.featured-flower-caption {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

/* company features section */

.company-features {
  padding: 3rem;
}

.company-info {
  width: 1440px;
  height: 320px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: 7rem;
  padding: 5rem;
  text-align: center;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}

.company-features-heading {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  padding-top: 1rem;
  font-weight: 600;
  line-height: 35px;
}

/* hot deal section */

.hot-deal-section {
  height: 50vh;
  padding: 6rem;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 7rem;
  text-align: center;
}

.hot-deal-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 2rem;
}

.hot-deal-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
  padding-bottom: 2rem;
}

span {
  color: #e55473;
}

/* instagram section */

.instagram-section {
  margin-bottom: 7rem;
}

.instagram-info {
  text-align: center;
  padding: 2rem;
}

.instagram-heading {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}

.instagram-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
  margin: 0 auto;
  padding-top: 2rem;
}

.instagram-posts {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

/* latest deals section */

.latest-deal-section {
  background-color: #272727;
  width: 1440px;
  height: 449px;
  margin: 0 auto;
  margin-bottom: 7rem;
  border-radius: 8px;
  background-image: url('./assets/Rectangle-9.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest-deal-heading {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 1rem;
}

.latest-deal-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 2rem;
}

.latest-deal-subscribe {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.subscribe-input {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  background: #fff;
  border: none;
  padding: 1rem;
}

.subscribe-input::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
}

/* footer section */

.footer {
  background: #111010;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-info {
  text-align: center;
  padding: 4rem 0;
}

.footer-heading {
  color: white;
  padding-bottom: 2rem;
  font-size: 48px;
  font-weight: 800;
}

.footer-desc {
  width: 625px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 2rem;
}

.footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
