/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

/* banner section */

.banner-section {
  height: 90vh;
  padding: 6rem;
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}

.banner-heading {
  color: #272727;
  font-size: 5rem;
  font-weight: 800;
}

.banner-desc {
  width: 40rem;
  color: rgba(39, 39, 39, 0.6);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
  padding: 2rem 0;
}

.btn {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background: #e55473;
  padding: 1.25rem 2.5rem;
  border: none;
  cursor: pointer;
}

.banner-image {
  width: 40rem;
}

/* featured flowers section */

.featured-flower-section {
  margin-bottom: 4rem;
}

.featured-flower-info {
  text-align: center;
  padding: 2rem;
}

.featured-flower-heading {
  margin-top: 2rem;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 2.5rem;
  font-weight: 800;
}

.featured-flower-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
  width: 40rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.featured-flower-posts {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.featured-flower-image-1 {
  width: 29rem;
  height: 34rem;
  border-radius: 18.75rem 18.75rem 0 0;
  background: rgba(167, 33, 98, 0.15);
  background-image: url('./assets/pngwing-6.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 19rem 26.75rem;
}

.featured-flower-image-2 {
  width: 29rem;
  height: 34rem;
  border-radius: 18.75rem 18.75rem 0 0;
  background: rgba(5, 151, 160, 0.15);
  background-image: url('./assets/pngwing-5.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 19rem 26.75rem;
}

.featured-flower-image-3 {
  width: 29rem;
  height: 34rem;
  border-radius: 18.75rem 18.75rem 0 0;
  background: rgba(71, 125, 17, 0.15);
  background-image: url('./assets/pngwing-7.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 19rem 26.75rem;
}

.featured-flower-title {
  display: flex;
  justify-content: center;
  gap: 21rem;
  align-items: center;
  padding: 2rem;
}

.featured-flower-caption {
  color: #272727;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8;
  text-decoration-line: underline;
}

/* custom section - about us */

.about-us-section {
  height: 70vh;
  width: 100%;
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7rem 0;
  text-align: center;
}

.about-us-image {
  display: block;
  width: 40%;
  object-fit: cover;
  border-radius: 0 0 12.5rem 0;
}

.about-title {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  text-decoration: underline;
  font-weight: 900;
}

.about-us-text {
  text-align: left;
  padding-right: 17rem;
}

.about-us-heading {
  color: #272727;
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.about-us-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
  width: 37rem;
  padding-bottom: 2rem;
}

.occasions {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.occasions ul > li {
  color: rgba(39, 39, 39, 0.6);
  line-height: 2;
  font-weight: 600;
}

.occasions-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
  width: 37rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

span {
  color: #e55473;
}

/* custom section - about us */

.shop-new-arrivals {
  display: flex;
  gap: 2rem;
  max-width: 80vw;
  margin: 2rem auto;
  padding: 5rem;
  margin-bottom: 2rem;
}

.card {
  width: 25rem;
  background-color: rgba(229, 84, 115, 0.05);
  box-shadow: rgba(229, 84, 115, 0.2) 0 3rem 6rem 0;
  border-radius: 1rem;
  transition: 0.4s ease-in all;
}

.card-image {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card-title {
  font-size: 2rem;
  padding: 1.5rem;
}

.card-desc {
  line-height: 1.5;
  padding: 1.5rem;
  padding-top: 0;
  font-weight: 700;
}

.card-btn {
  text-align: center;
  margin: 2rem auto 5rem;
  display: block;
}

/* company features section */

.company-features {
  padding: 3rem;
}

.company-info {
  width: 90rem;
  height: 20rem;
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: 7rem;
  padding: 5rem;
  text-align: center;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;
  background: rgba(39, 39, 39, 0.05);
}

.company-features-heading {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: 600;
  line-height: 1.8;
}

/* hot deal section */

.hot-deal-section {
  height: 55vh;
  padding: 6rem;
  border-radius: 0.5rem;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 7rem;
  text-align: center;
}

.hot-deal-heading {
  color: #272727;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  padding-bottom: 2rem;
}

.hot-deal-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
  width: 37rem;
  padding-bottom: 2rem;
}

span {
  color: #e55473;
}

/* instagram section */

.instagram-section {
  margin-bottom: 7rem;
}

.instagram-info {
  text-align: center;
  padding: 2rem;
}

.instagram-heading {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 2.5rem;
  font-weight: 800;
}

.instagram-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
  width: 37rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.instagram-posts {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

/* latest deals section */

.latest-deal-section {
  background-color: #272727;
  width: 90rem;
  height: 28rem;
  margin: 0 auto;
  margin-bottom: 7rem;
  border-radius: 0.5rem;
  background-image: url('./assets/Rectangle-9.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest-deal-heading {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 1rem;
}

.latest-deal-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
  padding-bottom: 2rem;
}

.latest-deal-subscribe {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.subscribe-input {
  width: 44rem;
  height: 4rem;
  border-radius: 0.5rem;
  background: #fff;
  border: none;
  padding: 1rem;
}

.subscribe-input::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font-size: 1rem;
  font-weight: 400;
}

/* footer section */

.footer {
  background: #111010;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-info {
  text-align: center;
  padding: 4rem 0;
}

.footer-heading {
  color: white;
  padding-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
}

.footer-desc {
  width: 625px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
  padding-bottom: 2rem;
}

.footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  font-weight: 400;
}
